.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App .container {
  max-width: 900;
}

.App header {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
}

.App img {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-height: 170px;
}

.App a {
  text-decoration: none;
}
