.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: white;
}

.App .container {
  max-width: 900;
}

.App header {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
}

.App .HeaderImage {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-height: 170px;
}

.App a {
  text-decoration: none;
}

.App section {
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
